body {
    background: #28223e;
}

#join-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 18px;
    padding: 20px 40px;
}

#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
    margin: 0 auto;
}

.video-container {
    max-height: 100%;
    border: 2px solid #231f3a;
    background-color: #203A49;
}

.video-player {
    height: 100%;
    width: 100%;
}

#stream-controls {
    justify-content: center;
    margin-top: 0.5em;
}

@media screen and (max-width:1400px) {
    #video-streams {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
    }
}